{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}dash.project.two.dash{% endtrans %}
    {% if editAction is defined %}
        {{ 'Edit Project'|trans }}
    {% else %}
        {{ 'Add Project'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if editAction is defined %}
        <h3>{{ 'Edit Project'|trans }}</h3>
    {% else %}
        <h3>{{ 'Add Project'|trans }}</h3>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
