{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}dash.project.two.dash{% endtrans %}
    {% if entity %}
        {{ entity.label }}
        {{ 'dash.dash.dash.edit'|trans }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <h3>{{ 'Edit Project'|trans }}</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
