{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}&nbsp;-&nbsp;Project&nbsp;--&nbsp;{% endtrans %}
    {% if entity %}
        {{ entity.label }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if entity %}
        <h3>{{ entity.label }}</h3>
        <p>{{ entity.summary }}</p>
        {{ macros.acitivity_block(activityBlock) }}
        {{ macros.issues_block(issuesBlock) }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}
