{% macro activity_block(context) %}
    {% import _self as macros %}
    {% if not context.entities %}
        {% set empty_class = 'is-empty' %}
    {% else %}
        {% set empty_class = '' %}
    {% endif %}
    <div class="row block {{ empty_class }}">
        <div class="page-header">
            <h4>{{ context.blockTitle }}</h4>
        </div>
        <table class="table">
            {% if context.entities %}
                <thead>
                <tr>
                    {% if not context.columns is defined or 'date' in context.columns %}
                        <th>{% trans %}Date{% endtrans %}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'project' in context.columns %}
                        <th>{% trans %}Project{% endtrans %}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'issue' in context.columns %}
                        <th>{% trans %}Issue{% endtrans %}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'type' in context.columns %}
                        <th>{% trans %}Type{% endtrans %}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'user' in context.columns %}
                        <th>{% trans %}User{% endtrans %}</th>
                    {% endif %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for entity in context.entities %}
                {% set entityType = entity.type %}
                <tr>
                    {% if not context.columns is defined or 'date' in context.columns %}
                        <td>{{ entity.created|date_time_time_zone('Y.m.d h:m:s') }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'project' in context.columns %}
                        <td>{{ macros.project_anchor(entity.project) }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'issue' in context.columns %}
                        <td>{{ macros.issue_anchor(entity.issue) }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'type' in context.columns %}
                        <td>{% trans %}%entityType%{% endtrans %}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'user' in context.columns %}
                        <td>{{ macros.public_profile_anchor(entity.user.username) }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {% trans %}Nothing here yet..{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro issues_block(context) %}
    {% import _self as macros %}
    {% if not context.entities %}
        {% set empty_class = 'is-empty' %}
    {% else %}
        {% set empty_class = '' %}
    {% endif %}
    <div class="row block {{ empty_class }}">
        <div class="page-header">
            <h4>{{ context.blockTitle }}</h4>
        </div>
        <table class="table">
            {% if context.entities %}
                <thead>
                <tr>
                    {% if not context.columns is defined or 'update' in context.columns %}
                        <th>{{ 'update'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'summary' in context.columns %}
                        <th>{{ 'summary'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'project' in context.columns %}
                        <th>{{ 'Project'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'priority' in context.columns %}
                        <th>{{ 'priority'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'type' in context.columns %}
                        <th>{{ 'type'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'status' in context.columns %}
                        <th>{{ 'status'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'assignee' in context.columns %}
                        <th>{{ 'assignee'|trans }}</th>
                    {% endif %}
                    {% if not context.columns is defined or 'reporter' in context.columns %}
                        <th>{{ 'reporter'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for entity in context.entities %}
                <tr>
                    {% if not context.columns is defined or 'update' in context.columns %}
                        <td>{{ entity.updated|date_time_time_zone('Y.m.d h:m:s') }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'summary' in context.columns %}
                        <td>{{ macros.issue_anchor(entity) }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'project' in context.columns %}
                        <td>{{ macros.project_anchor(entity.project) }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'priority' in context.columns %}
                        {% set entityPriority = entity.priority %}
                        <td>{{ entityPriority|trans }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'type' in context.columns %}
                        {% set entityType = entity.type %}
                        <td>{{ entityType|trans }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'status' in context.columns %}
                        {% set entityStatus = entity.status %}
                        <td>{{ entityStatus|trans }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'assignee' in context.columns %}
                        <td>{{ macros.public_profile_anchor(entity.assignee.username) }}</td>
                    {% endif %}
                    {% if not context.columns is defined or 'reporter' in context.columns %}
                        <td>{{ macros.public_profile_anchor(entity.reporter.username) }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {% trans %}Nothing here yet..{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro users_block(context) %}
    {% import _self as macros %}
    <div class="row block">
        <div class="page-header">
            <h4>{{ context.blockTitle }}</h4>
        </div>
        <table class="table">
            {% if context.entities %}
                <thead>
                <tr>
                    <th>{{ 'username'|trans }}</th>
                    <th>{{ 'email'|trans }}</th>
                    <th>{{ 'full_name'|trans }}</th>
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for entity in context.entities %}
                <tr>
                    <td>{{ macros.public_profile_anchor(entity.username) }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.fullName }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {% trans %}Nothing here yet..{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro comments_block(context) %}
    {% import _self as macros %}
    <div class="row block">
        <div class="page-header">
            <h4>{{ context.blockTitle }}</h4>
        </div>
        {% for entity in context.entities %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ entity.body }}
                </div>
                <div class="panel-footer">{{ entity.created|date_time_time_zone('Y.m.d h:m:s') }}, {{ macros.public_profile_anchor(entity.author.username) }}</div>
            </div>
        {% else %}
            <div class="well">
                <p>{% trans %}Nothing here yet..{% endtrans %}</p>
            </div>
        {% endfor %}
        {{ form(context.form) }}
    </div>
{% endmacro %}

{% macro public_profile_anchor(username) %}
    <a href="{{ path('public_profile', {'username':username}) }}">{{ username }}</a>
{% endmacro %}

{% macro project_anchor(project) %}
    <a href="{{ path('single_project', {'project_slug':project.slug}) }}">{{ project.label }}</a>
{% endmacro %}

{% macro issue_anchor(issue) %}
    <a href="{{ path('single_issue', {'issue_slug':issue.slug}) }}">{{ issue.summary }}</a>
{% endmacro %}