{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {{ '&nbsp;-&nbsp;Project&nbsp;--&nbsp;'|trans }}
    {{ 'New Issue'|trans }}
{% endblock %}

{% block content %}
    {% if parentIssue is defined %}
        <h3>{{ 'New Issue In "%story%"'|trans({'%story%': parentIssue.summary}) }}</h3>
    {% else %}
        <h3>{{ 'New Issue'|trans }}</h3>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
