{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}&nbsp;-&nbsp;Project&nbsp;--&nbsp;{% endtrans %}
    {% if entity %}
        {{ entity.summary }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if entity %}
        <h3>{{ entity.summary }}</h3>
        <p>{{ entity.description }}</p>
        {% if allowSubTaskAdding %}
            <a href="{{ path('edit_issue', {'issue_slug':entity.slug}) }}">{{ 'edit issue'|trans }}</a>
        {% endif %}
        {% if allowSubTaskAdding %}
            <a href="{{ path('add_sub_issue', {'issue_slug':entity.slug}) }}">{{ 'add sub task'|trans }}</a>
        {% endif %}
        {% if subTasksBlock is defined %}
            {{ macros.issues_block(subTasksBlock) }}
        {% elseif parentTask is defined %}
            <span class="label label-default">{{ 'story'|trans }}:&nbsp;{{ macros.issue_anchor(parentTask) }}</span>
        {% endif %}
        <span class="label label-default">{{ 'priority'|trans }}:&nbsp;<span>{{ entity.priority }}</span></span>
        <span class="label label-default">{{ 'type'|trans }}:&nbsp;<span>{{ entity.type }}</span></span>
        <span class="label label-default">{{ 'status'|trans }}:&nbsp;<span>{{ entity.status }}</span></span>
        {% if entity.resolution %}
            <span class="label label-default">{{ 'resolution'|trans }}:&nbsp;<span>{{ entity.resolution }}</span></span>
        {% endif %}
        {{ macros.activity_block(activityBlock) }}
        {{ macros.users_block(collaboratorsBlock) }}
        {{ macros.comments_block(commentsBlock) }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}
