{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}&nbsp;-&nbsp;Project&nbsp;--&nbsp;{% endtrans %}
    {% if entity %}
        {{ entity.summary }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if entity %}
        <h3>{{ entity.summary }}</h3>
        <p>{{ entity.description }}</p>
        {% if subTasksBlock is defined %}
            {{ macros.issuesBlock(subTasksBlock) }}
        {% elseif parentTask is defined %}
            {{ macros.issue_anchor(parentTask) }}
        {% endif %}
        {{ macros.acitivityBlock(activityBlock) }}
        {{ macros.usersBlock(collaboratorsBlock) }}
    {% else %}
        {{ 'nothing here'|trans }}
    {% endif %}
{% endblock %}
