{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {{ 'dash.public.profile'|trans }}
{% endblock %}

{% block content %}
    <h3>{{ user.fullName }}</h3>
    <span class="label label-default">{{ user.getImportantRole|trans }}</span><br><br>
    {% if canEdit %}
        <a href="{{ path('private_profile', {'username':user.username}) }}">{{ 'edit_profile'|trans }}</a>
    {% endif %}
    {{ macros.activity_block(activityBlock) }}
    {{ macros.issues_block(issuesBlock) }}
{% endblock %}
